<div class="container">
  <mat-card [formGroup]="paymentFormGroup" class="paymentForm">
    <mat-card-header>
      <mat-card-title>Add New Payment</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Choose The Payment date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Payment Amount</mat-label>
        <input matInput formControlName="amount" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Payment Type</mat-label>
        <mat-select formControlName="paymentType">
          @for (item of paymentType; track item) {
          <mat-option value="item">{{ item }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Student Code</mat-label>
        <input matInput formControlName="studentCode" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>File</mat-label>
        <button
          type="button"
          mat-icon-button
          matPrefix
          (click)="f_input.click()"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
        <input matInput readonly formControlName="paymentFileName" />
        <input
          type="file"
          hidden
          #f_input
          (change)="selectFile($event)"
          accept="application/pdf"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="savePayment()" color="primary">
        Save Payment
      </button>
      <mat-spinner *ngIf="!pdfFileUrl"></mat-spinner>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="pdfFileUrl">
    <mat-card-header>
      <mat-card-title>Payment File Overview</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <pdf-viewer
        [src]="pdfFileUrl"
        [original-size]="true"
        [render-text]="true"
        [rotation]="0"
        [show-all]="true"
        [zoom]="1"
        [zoom-scale]="'page-fit'"
        [show-borders]="true"
        class="pdf-viewer"
        (after-load-complete)="afterLoadComplete($event)"
      >
      </pdf-viewer>
    </mat-card-content>
  </mat-card>
</div>
