mat-card-header {
  background-color: aquamarine;
}
mat-card-content {
  margin-top: 10px;
}
mat-form-field {
  display: block;
}

.container {
  display: block;
}
pdf-viewer {
  height: 100vh;
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  max-width: 1200px;
}
