mat-card-header {
  background-color: aquamarine;
}
.mat-elevation-z8 {
  padding: 10px;
  margin-top: 10px;
}
mat-form-field {
  margin-top: 10px;
}
.pdf-viewer {
  height: 100vh;
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  max-width: 1200px;
}
